Repository mconcat/gridway, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, rust, wasm, crypto, storage, abci, client, ci, dependencies, tests

fix: complete all 5 regressions from main branch
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  Dockerfile
  GAP_ANALYSIS.md
  IMPLEMENTATION_STATUS.md
  MVP_PLAN.md
  PLAN.md
  ROADMAP.md
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-baseapp/src/module_governance.rs
  crates/gridway-client/Cargo.toml
  crates/gridway-client/src/client.rs
  crates/gridway-client/src/keystore.rs
  crates/gridway-client/src/lib.rs
  crates/gridway-consensus/Cargo.toml
  crates/gridway-consensus/src/application.rs
  crates/gridway-consensus/src/bin/gridway_cli.rs
  crates/gridway-consensus/src/bin/gridway_node.rs
  crates/gridway-consensus/src/bin/setup.rs
  crates/gridway-consensus/src/config.rs
  crates/gridway-consensus/src/engine.rs
  crates/gridway-consensus/src/lib.rs
  crates/gridway-consensus/src/mempool.rs
  crates/gridway-simapp/Cargo.toml
  crates/gridway-simapp/src/lib.rs
  crates/gridway-simapp/tests/integration_blocks.rs
  crates/gridway-simapp/tests/proptest_bank.rs
  crates/gridway-store/Cargo.toml
  crates/gridway-store/src/global.rs
  crates/gridway-store/src/lib.rs
  crates/gridway-store/src/merkle.rs
  crates/gridway-store/src/persistent.rs
  docker-compose.multi.yml
  docker-compose.yml
Labels: documentation, rust, storage, client, dependencies, tests

fix: address PR #90 security/correctness review issues
  .gitignore
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-consensus/src/application.rs
  crates/gridway-consensus/src/bin/gridway_node.rs
  scripts/build-docker.sh
  scripts/setup-testnet.sh
Labels: rust

fix: address PR #90 review items 6-11
  Cargo.toml
  crates/gridway-baseapp/Cargo.toml
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-client/src/keystore.rs
  crates/gridway-consensus/Cargo.toml
  crates/gridway-consensus/src/application.rs
  crates/gridway-consensus/src/bin/gridway_node.rs
  crates/gridway-consensus/src/engine.rs
  crates/gridway-errors/Cargo.toml
Labels: rust, client, dependencies

feat: Phase 2 multi-node networking
  crates/gridway-consensus/src/bin/gridway_cli.rs
  crates/gridway-consensus/src/bin/setup.rs
  docker-compose.multi.yml
Labels: rust

feat: Phase 3 module governance VFS + critical trie overlay
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-baseapp/src/module_governance.rs
  crates/gridway-consensus/src/application.rs
  crates/gridway-simapp/tests/integration_blocks.rs
  crates/gridway-store/src/global.rs
  crates/gridway-store/src/lib.rs
  crates/gridway-store/src/merkle.rs
Labels: rust, storage, tests

feat: WASM module caching + CLI sequence auto-fetch (Phase 3.5)
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-consensus/src/bin/gridway_cli.rs
Labels: rust

feat: Major items — TX requeue, Mutex→RwLock, snapshot auth, keystore integration
  crates/gridway-consensus/src/application.rs
  crates/gridway-consensus/src/bin/gridway_node.rs
  crates/gridway-consensus/src/bin/setup.rs
  crates/gridway-consensus/src/config.rs
  crates/gridway-consensus/src/mempool.rs
Labels: rust

fix: Minor items batch — mem::forget, CORS, lock unwrap, gas truncation, IP overflow, TX validation
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-baseapp/src/module_router.rs
  crates/gridway-consensus/src/bin/gridway_node.rs
  crates/gridway-consensus/src/bin/setup.rs
  crates/gridway-store/src/global.rs
Labels: rust, storage

chore: add memory/ to .gitignore, remove from tracking
  .gitignore
Labels: none

ci: rewrite workflows for Commonware migration
  .github/workflows/abci-integration.yml
  .github/workflows/all-checks.yml
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/cometbft-integration.yml.disabled
  .github/workflows/cosmos-compatibility.yml.disabled
  .github/workflows/e2e-test.yml
  .github/workflows/fmt-lint.yml.disabled
  .github/workflows/test.yml
  .github/workflows/testnet.yml
  .github/workflows/wasm-build.yml
  .github/workflows/wasm-test.yml
Labels: wasm, abci, ci

ci: fix CI — complete exclude list, add WASM modules, cargo fmt
  .github/workflows/ci.yml
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-baseapp/src/module_governance.rs
  crates/gridway-client/src/keystore.rs
  crates/gridway-client/src/lib.rs
  crates/gridway-consensus/src/application.rs
  crates/gridway-consensus/src/bin/gridway_cli.rs
  crates/gridway-consensus/src/bin/gridway_keygen.rs
  crates/gridway-consensus/src/bin/gridway_node.rs
  crates/gridway-consensus/src/bin/setup.rs
  crates/gridway-consensus/src/config.rs
  crates/gridway-consensus/src/engine.rs
  crates/gridway-consensus/src/lib.rs
  crates/gridway-consensus/src/mempool.rs
  crates/gridway-consensus/src/types.rs
  crates/gridway-crypto/src/lib.rs
  crates/gridway-simapp/src/lib.rs
  crates/gridway-simapp/tests/integration_blocks.rs
  crates/gridway-simapp/tests/proptest_bank.rs
  crates/gridway-store/src/global.rs
  crates/gridway-store/src/lib.rs
  crates/gridway-store/src/merkle.rs
  crates/gridway-store/src/persistent.rs
  crates/gridway-types/src/lib.rs
  crates/gridway-types/src/tx.rs
  crates/wasi-modules/bank/src/lib.rs
  crates/wasi-modules/validator/src/lib.rs
  modules/hook_component.wasm
  modules/validator_component.wasm
Labels: rust, wasm, crypto, storage, client, ci, tests

fix: resolve all clippy warnings (-D warnings clean)
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-baseapp/src/module_governance.rs
  crates/gridway-baseapp/src/module_router.rs
  crates/gridway-baseapp/src/vfs.rs
  crates/gridway-consensus/src/bin/gridway_node.rs
  crates/gridway-consensus/src/bin/setup.rs
  crates/gridway-store/src/merkle.rs
Labels: rust, storage

ci: fix WASM build/test pipelines, add rust-toolchain.toml
  .github/workflows/all-checks.yml
  .github/workflows/ci.yml
  .github/workflows/e2e-test.yml
  .github/workflows/wasm-build.yml
  .github/workflows/wasm-test.yml
  rust-toolchain.toml
Labels: wasm, ci

fix: address CodeRabbit + Claude review items
  Cargo.lock
  crates/gridway-client/src/keystore.rs
  crates/gridway-consensus/Cargo.toml
  crates/gridway-consensus/src/application.rs
  crates/gridway-consensus/src/bin/gridway_cli.rs
  crates/gridway-consensus/src/bin/gridway_node.rs
  crates/gridway-consensus/src/bin/setup.rs
Labels: rust, client, dependencies

.github/labeler.yml:

# Configuration for actions/labeler

# Add 'documentation' label to any change to docs files
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'LICENSE'
      - 'NOTICE'

# Add 'rust' label to any Rust code changes
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - '**/Cargo.toml'
      - '**/Cargo.lock'

# Add 'wasm' label to WASM-related changes
wasm:
  - changed-files:
    - any-glob-to-any-file:
      - 'crates/wasi-modules/**/*'
      - '**/*wasm*'
      - '**/*wasi*'

# Add 'crypto' label to cryptography-related changes
crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'crates/gridway-crypto/**/*'
      - 'crates/gridway-keyring/**/*'
      - '**/*crypto*'
      - '**/*sign*'

# Add 'storage' label to storage-related changes
storage:
  - changed-files:
    - any-glob-to-any-file:
      - 'crates/gridway-store/**/*'
      - '**/*rocksdb*'
      - '**/*storage*'
      - '**/*database*'

# Add 'abci' label to ABCI/Tendermint-related changes
abci:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*abci*'
      - '**/*tendermint*'
      - 'crates/gridway-server/**/*'

# Add 'client' label to client-related changes
client:
  - changed-files:
    - any-glob-to-any-file:
      - 'crates/gridway-client/**/*'

# Add 'ci' label to CI/CD changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'Makefile'
      - '.rustfmt.toml'
      - '.clippy.toml'

# Add 'dependencies' label when dependencies are updated
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/Cargo.toml'
      - '**/Cargo.lock'

# Add 'tests' label to test-related changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.rs'
      - '**/*_tests.rs'
      - '**/tests/**/*'
      - '**/test/**/*'
