Repository mconcat/gridway, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, rust, wasm, crypto, storage, abci, client, ci, dependencies, tests

wip
  crates/gridway-baseapp/Cargo.toml
  crates/gridway-baseapp/examples/explore_wasi_traits.rs
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-baseapp/src/test_wasi_types.rs
  crates/gridway-baseapp/src/vfs_host.rs
  crates/gridway-baseapp/src/vfs_wasi_adapter.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm, dependencies

vfs running with workarounds
  crates/gridway-baseapp/examples/explore_wasi_traits.rs
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/vfs_host.rs
  crates/gridway-baseapp/src/vfs_wasi_adapter.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm

wip
  crates/gridway-baseapp/Cargo.toml
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm, dependencies

feat: Implement VFS directory iteration and DirectoryEntryStream host handling
  Cargo.lock
  crates/gridway-baseapp/src/vfs.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm, dependencies

refactor: Improve VFS directory iteration from POC to production-ready implementation
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm

chore: Apply clippy and formatting fixes
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm

feat: Implement essential VFS filesystem operations
  Cargo.lock
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-baseapp/src/test_vfs_debug.rs
  crates/gridway-baseapp/src/test_vfs_wasi_impl.rs
  crates/gridway-baseapp/src/vfs.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm, dependencies

feat: Add required WASI subsystems for component instantiation
  Cargo.lock
  crates/gridway-baseapp/src/component_bindings/ante_handler.rs
  crates/gridway-baseapp/src/component_bindings/begin_blocker.rs
  crates/gridway-baseapp/src/component_bindings/end_blocker.rs
  crates/gridway-baseapp/src/component_bindings/tx_decoder.rs
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-baseapp/src/test_component.rs
  crates/gridway-baseapp/src/test_component_kvstore_integration.rs
Labels: rust, dependencies

feat: Add VFS stream support infrastructure for WASI I/O (Issue #66)
  Cargo.lock
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-baseapp/src/vfs_streams.rs
  crates/gridway-baseapp/src/vfs_streams_simple.rs
  crates/gridway-baseapp/src/vfs_wasi_adapter.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm, dependencies

refactor: Apply PR review feedback for VFS stream support
  crates/gridway-baseapp/src/vfs_streams.rs
  crates/gridway-baseapp/src/vfs_wasi_adapter.rs
Labels: rust, wasm

refactor: Address PR review feedback for VFS directory iteration
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm

Address PR review feedback
  crates/gridway-baseapp/src/test_vfs_wasi_impl.rs
  crates/gridway-baseapp/src/vfs.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm

fix: Address PR feedback - preserve custom VFS by adding subsystems explicitly
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/vfs_wasi_adapter.rs
Labels: rust, wasm

feat: Implement VFS directory iteration and DirectoryEntryStream host handling (#72)
  Cargo.lock
  crates/gridway-baseapp/src/vfs.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm, dependencies

feat: Implement essential VFS filesystem operations (#73)
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-baseapp/src/test_vfs_debug.rs
  crates/gridway-baseapp/src/test_vfs_wasi_impl.rs
  crates/gridway-baseapp/src/vfs.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm

feat: Add required WASI subsystems for component instantiation (#74)
  crates/gridway-baseapp/src/component_bindings/ante_handler.rs
  crates/gridway-baseapp/src/component_bindings/begin_blocker.rs
  crates/gridway-baseapp/src/component_bindings/end_blocker.rs
  crates/gridway-baseapp/src/component_bindings/tx_decoder.rs
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-baseapp/src/test_component.rs
  crates/gridway-baseapp/src/test_component_kvstore_integration.rs
  crates/gridway-baseapp/src/vfs_wasi_adapter.rs
Labels: rust, wasm

feat: Add VFS stream support infrastructure for WASI I/O (#75)
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-baseapp/src/vfs_streams_simple.rs
  crates/gridway-baseapp/src/vfs_wasi_adapter.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm

feat: VFS accurate stat (size/type) and stat-by-fd helper
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/test_vfs_wasi_impl.rs
  crates/gridway-baseapp/src/vfs.rs
  crates/gridway-baseapp/src/vfs_wasi_adapter.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm

feat: Implement VFS capability enforcement and flags in open_at
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/test_vfs_wasi_impl.rs
  crates/gridway-baseapp/src/vfs.rs
  crates/gridway-baseapp/src/vfs_streams_simple.rs
  crates/gridway-baseapp/src/vfs_wasi_adapter.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm

feat: Implement VFS capability enforcement and flags in open_at (#77)
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/test_vfs_wasi_impl.rs
  crates/gridway-baseapp/src/vfs.rs
  crates/gridway-baseapp/src/vfs_streams_simple.rs
  crates/gridway-baseapp/src/vfs_wasi_adapter.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm

feat: VFS accurate stat (size/type) and stat-by-fd helper (#76)
  crates/gridway-baseapp/src/vfs.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm

feat: Implement VFS-backed InputStream & OutputStream for WASI Preview 2
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-baseapp/src/vfs.rs
  crates/gridway-baseapp/src/vfs_streams.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm

feat: Implement io::poll host-side support for VFS streams
  crates/gridway-baseapp/src/vfs_streams_simple.rs
  crates/gridway-baseapp/src/vfs_wasi_adapter.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm

feat: Implement VFS-backed InputStream & OutputStream for WASI Preview 2 (#87)
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-baseapp/src/vfs.rs
  crates/gridway-baseapp/src/vfs_streams.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm

feat: Implement VFS stream I/O operations (#81)
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-baseapp/src/test_vfs_streams_creation.rs
  crates/gridway-baseapp/src/test_vfs_streams_simple.rs
  crates/gridway-baseapp/src/vfs.rs
  crates/gridway-baseapp/src/vfs_streams.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm

fix: Address PR review comments for VFS stream implementation
  crates/gridway-baseapp/src/vfs_streams_simple.rs
  crates/gridway-baseapp/src/vfs_wasi_adapter.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm

feat: Implement VFS stream I/O operations (#81) (#89)
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-baseapp/src/test_vfs_streams_creation.rs
  crates/gridway-baseapp/src/test_vfs_streams_simple.rs
  crates/gridway-baseapp/src/vfs.rs
  crates/gridway-baseapp/src/vfs_streams.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm

fix: Resolve WASI interface conflicts and async runtime issues
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-baseapp/src/test_vfs_wasi_impl.rs
  crates/gridway-baseapp/src/vfs_streams_simple.rs
  crates/gridway-baseapp/src/vfs_wasi_adapter.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
  crates/gridway-server/src/abci_server.rs
Labels: rust, wasm, abci

Fix merge conflict resolution and test compilation
  crates/gridway-baseapp/src/test_vfs_streams_creation.rs
  crates/gridway-baseapp/src/vfs_wasi_impl.rs
Labels: rust, wasm

feat: Phase 0 + Phase 1A — JMT state foundation & WASM bank module
  Cargo.lock
  Cargo.toml
  GAP_ANALYSIS.md
  MVP_PLAN.md
  PHASE0_FINAL_REVIEW.md
  PHASE0_PROGRESS.md
  PHASE0_VERIFICATION.md
  PHASE0_VFS_WASI_BRIDGE.md
  crates/gridway-baseapp/src/abi.rs
  crates/gridway-baseapp/src/abi_tests.rs
  crates/gridway-baseapp/src/component_bindings/kvstore.rs
  crates/gridway-baseapp/src/component_bindings/mod.rs
  crates/gridway-baseapp/src/component_bindings/module.rs
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-baseapp/src/test_component.rs
  crates/gridway-baseapp/src/test_component_kvstore_integration.rs
  crates/gridway-baseapp/src/test_kvstore_integration.rs
  crates/gridway-baseapp/src/test_wasi_modules.rs
  crates/gridway-baseapp/src/vfs.rs
  crates/gridway-server/src/bin/gridway-server.rs
  crates/wasi-modules/bank/Cargo.toml
  crates/wasi-modules/bank/build.sh
  crates/wasi-modules/bank/src/lib.rs
Labels: documentation, rust, wasm, abci, dependencies, tests

store: replace BTreeMap placeholder with Patricia Merkle Trie (trie-db)
  Cargo.lock
  crates/gridway-store/Cargo.toml
  crates/gridway-store/src/global.rs
  crates/gridway-store/src/lib.rs
  crates/gridway-store/src/merkle.rs
Labels: rust, storage, dependencies

feat: wire up full consensus engine + p2p + node binary
  crates/gridway-consensus/Cargo.toml
  crates/gridway-consensus/src/bin/gridway_node.rs
  crates/gridway-consensus/src/bin/setup.rs
  crates/gridway-consensus/src/config.rs
  crates/gridway-consensus/src/engine.rs
  crates/gridway-consensus/src/lib.rs
  crates/gridway-consensus/src/types.rs
Labels: rust, dependencies

feat: add TX submission, genesis balances, native bank for E2E demo
  .gitignore
  Cargo.lock
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-consensus/src/bin/gridway_node.rs
  crates/gridway-consensus/src/bin/setup.rs
  crates/gridway-consensus/src/config.rs
  crates/gridway-consensus/src/engine.rs
  scripts/test-e2e-transfer.sh
Labels: rust, dependencies

WASM-only bank: remove native fallback, rebuild bank.wasm with dual format support
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-consensus/src/application.rs
  crates/wasi-modules/bank/src/lib.rs
  modules/bank_component.wasm
Labels: rust, wasm

feat: add ed25519 TX auth using commonware-cryptography
  Cargo.lock
  crates/gridway-baseapp/Cargo.toml
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-consensus/Cargo.toml
  crates/gridway-consensus/src/bin/gridway_keygen.rs
  crates/gridway-consensus/src/bin/gridway_node.rs
  crates/gridway-crypto/src/lib.rs
  crates/gridway-types/src/lib.rs
  crates/gridway-types/src/tx.rs
  scripts/test-e2e-transfer.sh
Labels: rust, crypto, dependencies

fix: E2E test script — bash arithmetic exit code + polling waits
  .gitignore
  crates/gridway-baseapp/src/lib.rs
  crates/gridway-consensus/src/application.rs
  crates/gridway-consensus/src/bin/gridway_node.rs
  crates/gridway-consensus/src/engine.rs
  crates/gridway-store/src/merkle.rs
  scripts/test-e2e-transfer.sh
  scripts/test-state-sync.sh
Labels: rust, storage

refactor: redesign WIT interfaces — Cosmos ABCI → Commonware native
  crates/gridway-baseapp/src/component_bindings/ante_handler.rs
  crates/gridway-baseapp/src/component_bindings/begin_blocker.rs
  crates/gridway-baseapp/src/component_bindings/end_blocker.rs
  crates/gridway-baseapp/src/component_bindings/hook.rs
  crates/gridway-baseapp/src/component_bindings/mod.rs
  crates/gridway-baseapp/src/component_bindings/tx_decoder.rs
  crates/gridway-baseapp/src/component_bindings/validator.rs
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/lib.rs
  crates/wasi-modules/hook/Cargo.toml
  crates/wasi-modules/hook/src/lib.rs
  crates/wasi-modules/validator/Cargo.toml
  crates/wasi-modules/validator/src/lib.rs
  wit/ante-handler.wit
  wit/begin-blocker.wit
  wit/end-blocker.wit
  wit/hook.wit
  wit/kvstore.wit
  wit/module.wit
  wit/tx-decoder.wit
  wit/validator.wit
Labels: rust, wasm, dependencies

refactor: rewire execute_block() pipeline to new WIT architecture
  crates/gridway-baseapp/src/lib.rs
Labels: rust

feat: wire validate_tx + hooks through WASM — full WIT pipeline
  crates/gridway-baseapp/src/component_host.rs
  crates/gridway-baseapp/src/lib.rs
  crates/wasi-modules/bank/src/lib.rs
  modules/bank_component.wasm
Labels: rust, wasm

fix: update hook/validator WASM modules and dependencies
  Cargo.lock
  Cargo.toml
  crates/wasi-modules/hook/src/lib.rs
  crates/wasi-modules/validator/Cargo.toml
  crates/wasi-modules/validator/src/lib.rs
Labels: rust, wasm, dependencies

.github/labeler.yml:

# Configuration for actions/labeler

# Add 'documentation' label to any change to docs files
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'LICENSE'
      - 'NOTICE'

# Add 'rust' label to any Rust code changes
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - '**/Cargo.toml'
      - '**/Cargo.lock'

# Add 'wasm' label to WASM-related changes
wasm:
  - changed-files:
    - any-glob-to-any-file:
      - 'crates/wasi-modules/**/*'
      - '**/*wasm*'
      - '**/*wasi*'

# Add 'crypto' label to cryptography-related changes
crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'crates/gridway-crypto/**/*'
      - 'crates/gridway-keyring/**/*'
      - '**/*crypto*'
      - '**/*sign*'

# Add 'storage' label to storage-related changes
storage:
  - changed-files:
    - any-glob-to-any-file:
      - 'crates/gridway-store/**/*'
      - '**/*rocksdb*'
      - '**/*storage*'
      - '**/*database*'

# Add 'abci' label to ABCI/Tendermint-related changes
abci:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*abci*'
      - '**/*tendermint*'
      - 'crates/gridway-server/**/*'

# Add 'client' label to client-related changes
client:
  - changed-files:
    - any-glob-to-any-file:
      - 'crates/gridway-client/**/*'

# Add 'ci' label to CI/CD changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'Makefile'
      - '.rustfmt.toml'
      - '.clippy.toml'

# Add 'dependencies' label when dependencies are updated
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/Cargo.toml'
      - '**/Cargo.lock'

# Add 'tests' label to test-related changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.rs'
      - '**/*_tests.rs'
      - '**/tests/**/*'
      - '**/test/**/*'
